<!DOCTYPE html>
<html>
<head>
    <title>Faculty</title>
    <%= render 'layouts/links' %>
    <%= render 'layouts/styles' %>
</head>
<body>
<%= render 'layouts/navbar' %>
<main>
  <div class="container">

  </div>
</main>
<%= render 'layouts/footer' %>
<%= render 'layouts/scripts' %>
</body>
</html>
