<!DOCTYPE html>
<html>
<head>
    <title>Faculty</title>
    <%= render 'layouts/links' %>
    <%= render 'layouts/styles' %>


    <script src="./js/html5-qrcode.min.js"></script>
</head>
<body>
<%= render 'layouts/navbar' %>
<main>

</main>
<%= render 'layouts/footer' %>
<%= render 'layouts/scripts' %>
</body>
</html>
