<!DOCTYPE html>
<html>
<head>
  <title>Home | IT Dept</title>
  <%= render 'layouts/links' %>
  <%= render 'layouts/styles' %>
</head>
<body>
<main>
  <%= render 'layouts/navbar' %>
  <div class="container">
    <div class="row">
      <%= render 'home/carousel' %>
      <!--Latest @ IT-->
      <!--Card Begin-->
      <div class="col s12 m3" style="height: 400px; margin-top: -5px;">
        <div class="card" style="height: 100%; border-radius: 15px;">
          <div class="card-content">
            <p class="center flow-text" style="color: #673BB7;"> Latest @ IT</p>
            <hr>


            <% for i in 1..3 %>
                <!--Date-->
                <strong style="font-size: 80%; color:#673BB7;"><%= @events.date %></strong>:
                <!--Event Name-->
                <a href="" style="text-decoration: none; font-size: 80%; color: #333;"><%= @events.title %></a>
                <hr>
            <% end %>

            <!--View All-->
            <p class="center" style="margin-top: 5px;">
              <a href="/events" style="color: #673BB7;">View All</a>
            </p>
          </div>
        </div>
      </div>
      <!--Card End-->

    </div>
  </div>
</main>
<%= render 'layouts/footer' %>
<%= render 'layouts/scripts' %>
</body>
</html>
