<!DOCTYPE html>
<html>
<head>
  <title>Home | IT Dept</title>
  <%= render 'layouts/links' %>
  <%= render 'layouts/styles' %>
</head>
<body>
<%= render 'layouts/navbar' %>
<main>
  <div class="container">
    <div class="row">
      <%= render 'home/carousel' %>
      <!--Latest @ IT-->
      <!--Card Begin-->
      <div class="col s12 m3" style="height: 400px; margin-top: -5px;">
        <div class="card" style="height: 100%; border-radius: 15px;" onclick="location.href=''" style="cursor: pointer;">
          <div class="card-content">
            <p class="center flow-text" style="color: #673BB7;"> Latest @ IT</p>
            <hr>

            <!--EVENT-->
            <!--Date-->
            <strong style="font-size: 80%; color:#673BB7;">Apr 2018</strong>:
            <!--Event Name-->
            <a href="" style="text-decoration: none; font-size: 80%; color: #333;">Dr. Mitesh Khapra has been selected as a recipient of Google Faculty Awards 2017.</a>
            <hr>

            <!--EVENT-->
            <!--Date-->
            <strong style="font-size: 80%; color:#673BB7;">Apr 2018</strong>:
            <!--Event Name-->
            <a href="" style="text-decoration: none; font-size: 80%; color: #333;">Dr. Mitesh Khapra has been selected as a recipient of Google Faculty Awards 2017.</a>
            <hr>

            <!--EVENT-->
            <!--Date-->
            <strong style="font-size: 80%; color:#673BB7;">Apr 2018</strong>:
            <!--Event Name-->
            <a href="" style="text-decoration: none; font-size: 80%; color: #333;">Dr. Mitesh Khapra has been selected as a recipient of Google Faculty Awards 2017.</a>
            <hr>
          </div>
          <!--View All-->
          <p class="center" style="margin-top: 5px;">
            <a href="" style="color: #673BB7;">View All</a>
          </p>
        </div>
      </div>
      <!--Card End-->

    </div>
  </div>
</main>
<%= render 'layouts/footer' %>
<%= render 'layouts/scripts' %>
</body>
</html>
