<!DOCTYPE html>
<html>
<head>
  <title>Faculty</title>

   <%= render 'layouts/links' %>
   <%= render 'layouts/styles' %>

</head>
<body>
<%= render 'layouts/navbar' %>

<main>
<div class="container">

  <p class="flow-text center">Faculty | IT Dept</p>

  <!--Row Begin-->
  <div class="row">

    <!--Card Begin-->
    <div class="col s12 m4">
      <div class="card" onclick="location.href='/faculty/d_adane'" style="cursor: pointer;">
        <div class="card-content">
          <div class="row">
            <div class="col m4 s12">
              <img src="../img/faculty/1.jpg" style="height:120px;width:105px;border:1px solid Gray" />
            </div>
            <div class="col m8 s12">
              <a href="/faculty/d_adane" style="color: #673BB7;">Dr. D.S. Adane</a>
              <br>
              <strong>Assistant Professor </strong>
              <p>B.E (IT), M.Sc, PhD </p>
            </div>
            <div class="col m12">
              <br>
              <p>
                Statistical Signal Processing, Biomedical Signal and Image Processing, Wavelet Transform and its applications, Higher education policy and Assessment
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Card End-->

    <!--Card Begin-->
    <div class="col s12 m4">
      <div class="card" onclick="location.href='/faculty/p_adane'" style="cursor: pointer;">
        <div class="card-content">
          <div class="row">
            <div class="col m4 s12">
              <img src="../img/faculty/2.jpg" style="height:120px;width:105px;border:1px solid Gray" />
            </div>
            <div class="col m8 s12">
              <a href="/faculty/p_adane" style="color: #673BB7;">Prof. P.D. Adane</a>
              <br>
              <strong>Assistant Professor </strong>
              <p>B.E (IT), M.Sc, PhD </p>
            </div>
            <div class="col m12">
              <br>
              <p>
                Statistical Signal Processing, Biomedical Signal and Image Processing, Wavelet Transform and its applications, Higher education policy and Assessment
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Card End-->

    <!--Card Begin-->
    <div class="col s12 m4">
      <div class="card" onclick="location.href='/faculty/c_upadhyay'" style="cursor: pointer;">
        <div class="card-content">
          <div class="row">
            <div class="col m4 s12">
              <img src="../img/faculty/3.jpg" style="height:120px;width:105px;border:1px solid Gray" />
            </div>
            <div class="col m8 s12">
              <a href="/faculty/c_upadhyay" style="color: #673BB7;">Prof. C.U. Upadhyay</a>
              <br>
              <strong>Assistant Professor </strong>
              <p>B.E (IT), M.Sc, PhD </p>
            </div>
            <div class="col m12">
              <br>
              <p>
                Statistical Signal Processing, Biomedical Signal and Image Processing, Wavelet Transform and its applications, Higher education policy and Assessment
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Card End-->

    <!--Card Begin-->
    <div class="col s12 m4">
      <div class="card" onclick="location.href='/faculty/c_thaokar'" style="cursor: pointer;">
        <div class="card-content">
          <div class="row">
            <div class="col m4 s12">
              <img src="../img/faculty/4.jpg" style="height:120px;width:105px;border:1px solid Gray" />
            </div>
            <div class="col m8 s12">
              <a href="/faculty/c_thaokar" style="color: #673BB7;">Prof. C.B. Thaokar</a>
              <br>
              <strong>Assistant Professor </strong>
              <p>B.E (IT), M.Sc, PhD </p>
            </div>
            <div class="col m12">
              <br>
              <p>
                Statistical Signal Processing, Biomedical Signal and Image Processing, Wavelet Transform and its applications, Higher education policy and Assessment
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Card End-->

    <!--Card Begin-->
    <div class="col s12 m4">
      <div class="card" onclick="location.href='/faculty/m_tayal'" style="cursor: pointer;">
        <div class="card-content">
          <div class="row">
            <div class="col m4 s12">
              <img src="../img/faculty/5.jpg" style="height:120px;width:105px;border:1px solid Gray" />
            </div>
            <div class="col m8 s12">
              <a href="/faculty/m_tayal" style="color: #673BB7;">Prof. M.A. Tayal</a>
              <br>
              <strong>Assistant Professor </strong>
              <p>B.E (IT), M.Sc, PhD </p>
            </div>
            <div class="col m12">
              <br>
              <p>
                Statistical Signal Processing, Biomedical Signal and Image Processing, Wavelet Transform and its applications, Higher education policy and Assessment
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Card End-->

    <!--Card Begin-->
    <div class="col s12 m4">
      <div class="card" onclick="location.href='/faculty/r_kadu'" style="cursor: pointer;">
        <div class="card-content">
          <div class="row">
            <div class="col m4 s12">
              <img src="../img/faculty/6.jpg" style="height:120px;width:105px;border:1px solid Gray" />
            </div>
            <div class="col m8 s12">
              <a href="/faculty/r_kadu" style="color: #673BB7;">Prof. R.K. Kadu</a>
              <br>
              <strong>Assistant Professor </strong>
              <p>B.E (IT), M.Sc, PhD </p>
            </div>
            <div class="col m12">
              <br>
              <p>
                Statistical Signal Processing, Biomedical Signal and Image Processing, Wavelet Transform and its applications, Higher education policy and Assessment
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Card End-->

    <!--Card Begin-->
    <div class="col s12 m4">
      <div class="card" onclick="location.href='/faculty/n_ansari'" style="cursor: pointer;">
        <div class="card-content">
          <div class="row">
            <div class="col m4 s12">
              <img src="../img/faculty/7.jpg" style="height:120px;width:105px;border:1px solid Gray" />
            </div>
            <div class="col m8 s12">
              <a href="/faculty/n_ansari" style="color: #673BB7;">Prof. N.A. Ansari</a>
              <br>
              <strong>Assistant Professor </strong>
              <p>B.E (IT), M.Sc, PhD </p>
            </div>
            <div class="col m12">
              <br>
              <p>
                Statistical Signal Processing, Biomedical Signal and Image Processing, Wavelet Transform and its applications, Higher education policy and Assessment
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Card End-->

    <!--Card Begin-->
    <div class="col s12 m4">
      <div class="card" onclick="location.href='/faculty/p_kokardekar'" style="cursor: pointer;">
        <div class="card-content">
          <div class="row">
            <div class="col m4 s12">
              <img src="../img/faculty/8.jpg" style="height:120px;width:105px;border:1px solid Gray" />
            </div>
            <div class="col m8 s12">
              <a href="/faculty/p_kokardekar" style="color: #673BB7;">Prof. P.V. Kokardekar</a>
              <br>
              <strong>Assistant Professor </strong>
              <p>B.E (IT), M.Sc, PhD </p>
            </div>
            <div class="col m12">
              <br>
              <p>
                Statistical Signal Processing, Biomedical Signal and Image Processing, Wavelet Transform and its applications, Higher education policy and Assessment
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Card End-->

    <!--Card Begin-->
    <div class="col s12 m4">
      <div class="card" onclick="location.href='/faculty/a_chandak'" style="cursor: pointer;">
        <div class="card-content">
          <div class="row">
            <div class="col m4 s12">
              <img src="../img/faculty/9.jpg" style="height:120px;width:105px;border:1px solid Gray" />
            </div>
            <div class="col m8 s12">
              <a href="/faculty/a_chandak" style="color: #673BB7;">Prof. A.V. Chandak</a>
              <br>
              <strong>Assistant Professor </strong>
              <p>B.E (IT), M.Sc, PhD </p>
            </div>
            <div class="col m12">
              <br>
              <p>
                Statistical Signal Processing, Biomedical Signal and Image Processing, Wavelet Transform and its applications, Higher education policy and Assessment
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Card End-->

    <!--Card Begin-->
    <div class="col s12 m4">
      <div class="card" onclick="location.href='/faculty/p_assudani'" style="cursor: pointer;">
        <div class="card-content">
          <div class="row">
            <div class="col m4 s12">
              <img src="../img/faculty/10.jpg" style="height:120px;width:105px;border:1px solid Gray" />
            </div>
            <div class="col m8 s12">
              <a href="/faculty/p_assudani" style="color: #673BB7;">Prof. P.J. Assudani</a>
              <br>
              <strong>Assistant Professor </strong>
              <p>B.E (IT), M.Sc, PhD </p>
            </div>
            <div class="col m12">
              <br>
              <p>
                Statistical Signal Processing, Biomedical Signal and Image Processing, Wavelet Transform and its applications, Higher education policy and Assessment
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Card End-->

    <!--Card Begin-->
    <div class="col s12 m4">
      <div class="card" onclick="location.href='/faculty/k_jain'" style="cursor: pointer;">
        <div class="card-content">
          <div class="row">
            <div class="col m4 s12">
              <img src="../img/faculty/11.JPG" style="height:120px;width:105px;border:1px solid Gray" />
            </div>
            <div class="col m8 s12">
              <a href="/faculty/k_jain" style="color: #673BB7;">Prof. K.A. Jain</a>
              <br>
              <strong>Assistant Professor </strong>
              <p>B.E (IT), M.Sc, PhD </p>
            </div>
            <div class="col m12">
              <br>
              <p>
                Statistical Signal Processing, Biomedical Signal and Image Processing, Wavelet Transform and its applications, Higher education policy and Assessment
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Card End-->

    <!--Card Begin-->
    <div class="col s12 m4">
      <div class="card" onclick="location.href='/faculty/r_joshi'" style="cursor: pointer;">
        <div class="card-content">
          <div class="row">
            <div class="col m4 s12">
              <img src="../img/faculty/12.png" style="height:120px;width:105px;border:1px solid Gray" />
            </div>
            <div class="col m8 s12">
              <a href="/faculty/r_joshi" style="color: #673BB7;">Prof. R.H. Joshi</a>
              <br>
              <strong>Assistant Professor </strong>
              <p>B.E (IT), M.Sc, PhD </p>
            </div>
            <div class="col m12">
              <br>
              <p>
                Statistical Signal Processing, Biomedical Signal and Image Processing, Wavelet Transform and its applications, Higher education policy and Assessment
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Card End-->
  </div> <!--Row End-->
</div>
</main>
<%= render 'layouts/footer' %>
<%= render 'layouts/scripts' %>
</body>
</html>
