<!DOCTYPE html>
<html>
<head>
  <title>Prof. R.H. Joshi| Faculty</title>
  <%= render 'layouts/links' %>
  <%= render 'layouts/styles' %>
</head>
<body>
<%= render 'layouts/navbar' %>
<main>
  <div class="container">

    <!--Faculty Name-->
    <p class="flow-text" style="color: #673BB7;">Prof. Rohini Harshad Joshi</p>

    <div class="col s12 m12">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col m2 s12">
              <img src="../img/faculty/12.png" style="height:175px;width:150px;border:1px solid Gray" />
            </div>
            <div class="col m10 s12">
              <strong style="color: #673BB7;">Assistant Professor </strong>
              <p>B.E (IT), M.Sc, PhD </p>
              <br>
              <!--Faculty Summary-->
              <p>Aasim Khan is a social scientist with cross-disciplinary interests in
                the theories of new media and social networks and their intersection with the
                field of politics, policy and democracy in contemporary India. He completed his B.Sc.
                from St. Stephen’s College, Delhi University and holds an MA from the AJK Mass Communications Research Center,
                Jamia Millia Islamia. He also holds an MA in Global Media from the School of Oriental and African Studies, University
                of London. In 2012, he was awarded the Global Institute Fellowship to pursue a PhD in Contemporary India at King’s College
                London. </p>
            </div>
            <div class="col m12">
              <br>
              <strong style="color: #673BB7;">Contact</strong><br>
              <p>
                <i class="fas fa-phone"></i>&nbsp; Phone: 011-26907450 <br>
                <i class="fas fa-envelope"></i>&nbsp; Email: anand@iiitd.ac.in
              </p>

              <br>
              <strong style="color: #673BB7;">Teaching Experience</strong><br>
              14 years

              <br><br>

              <strong style="color: #673BB7;">Specialization</strong><br>
              Digital Communications, Wireless and Optical communications, Optical Networks


            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</main>
<%= render 'layouts/footer' %>
<%= render 'layouts/scripts' %>
</body>
</html>
